<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
        }

        .navitems {
            display: grid;
            grid-auto-flow: column;
        }

        .logo {
            background: green;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="logo">DN</div>
        <div class="navitems">
            <div>About</div>
            <div>News</div>
            <div>Stuff</div>
        </div>
        <div>Another item oh no</div>


    </div>
</body>
</html>